<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Gallery Template | PrepBootstrap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="css/css.css" />

    <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">

<div class="page-header">
    <h1>IBM Task <small></small></h1>
</div>

<!-- Gallery - START -->

<div class="container">
     <h5>{{ app }} <a href='{{ link }}' target='_blank'>{{ link }}</a></h5>
     To Scrap the images from twitpic <a href='/scrap' class='button'>CLICK HERE</a>
        
    <div class="row">
        <div class="text-center">
            <h1>Twitpic Images</h1>
        </div>
            <div class="row">
         {% for image_url in images %}
           <div class="col-md-4">
                <div class="well">
                    <img class="thumbnail img-responsive" alt="Bootstrap template" 
                        src='{{ image_url }}' />
                </div>
            </div>
         {% endfor %}
    
        </div>
    </div>
</div>
<!-- Gallery - END -->

</div>

</body>
</html>